<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <pages enableEventValidation="false"/>
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="Security" connectionString="Data Source=LAPTOP-LS3ERU85;Initial Catalog=HybridSecurity;Integrated Security=True" />
    <add name="Security1" connectionString="Data Source=LAPTOP-LS3ERU85;Initial Catalog=HybridSecurity1;Integrated Security=True" />
    <add name="Security2" connectionString="Data Source=LAPTOP-LS3ERU85;Initial Catalog=HybridSecurity2;Integrated Security=True" />
    <add name="Security3" connectionString="Data Source=LAPTOP-LS3ERU85;Initial Catalog=HybridSecurity3;Integrated Security=True" />
    <add name="HybridSecurityConnectionString" connectionString="Data Source=LAPTOP-LS3ERU85;Initial Catalog=HybridSecurity;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>
